Welcome to HelpDesk.com, <%= @email %>
<%= image_tag attachments['original_ttFi_102a00001555118f.jpg'].url %>

<div>
  <h3>To login and edit your profile, go here: <%= edit_user_url(@user) %></h3>
</div>
